/* card_area */

position: relative;
width: 1440px;
height: 900px;

background: #7DE957;


/* Card */

position: absolute;
width: 180px;
height: 37px;
left: 61px;
top: 72px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Card */

position: absolute;
width: 180px;
height: 37px;
left: 251px;
top: 72px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Card */

position: absolute;
width: 180px;
height: 37px;
left: 290px;
top: 91px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Card */

position: absolute;
width: 180px;
height: 37px;
left: 329px;
top: 110px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Card */

position: absolute;
width: 180px;
height: 37px;
left: 61px;
top: 174px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Card */

position: absolute;
width: 180px;
height: 37px;
left: 251px;
top: 174px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Card */

position: absolute;
width: 180px;
height: 37px;
left: 1200px;
top: 225px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Card */

position: absolute;
width: 180px;
height: 37px;
left: 441px;
top: 174px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Card */

position: absolute;
width: 181px;
height: 37px;
left: 630px;
top: 72px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Card */

position: absolute;
width: 180px;
height: 37px;
left: 1010px;
top: 72px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Card */

position: absolute;
width: 180px;
height: 37px;
left: 1200px;
top: 72px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Card */

position: absolute;
width: 180px;
height: 37px;
left: 820px;
top: 72px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Card */

position: absolute;
width: 181px;
height: 37px;
left: 630px;
top: 174px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Card */

position: absolute;
width: 180px;
height: 37px;
left: 1010px;
top: 174px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Card */

position: absolute;
width: 180px;
height: 37px;
left: 1200px;
top: 174px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Card */

position: absolute;
width: 180px;
height: 37px;
left: 820px;
top: 225px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Card */

position: absolute;
width: 180px;
height: 37px;
left: 1010px;
top: 225px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Card */

position: absolute;
width: 180px;
height: 37px;
left: 441px;
top: 225px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Card */

position: absolute;
width: 180px;
height: 37px;
left: 631px;
top: 225px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Card */

position: absolute;
width: 180px;
height: 37px;
left: 1010px;
top: 276px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Card */

position: absolute;
width: 180px;
height: 37px;
left: 1200px;
top: 276px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Card */

position: absolute;
width: 180px;
height: 37px;
left: 630px;
top: 276px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Card */

position: absolute;
width: 180px;
height: 37px;
left: 820px;
top: 276px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Card */

position: absolute;
width: 180px;
height: 37px;
left: 631px;
top: 327px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Card */

position: absolute;
width: 180px;
height: 37px;
left: 820px;
top: 327px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Card */

position: absolute;
width: 180px;
height: 37px;
left: 1010px;
top: 327px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Card */

position: absolute;
width: 180px;
height: 37px;
left: 1200px;
top: 327px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Card */

position: absolute;
width: 180px;
height: 37px;
left: 1010px;
top: 378px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Card */

position: absolute;
width: 180px;
height: 37px;
left: 1200px;
top: 378px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Card */

position: absolute;
width: 180px;
height: 37px;
left: 820px;
top: 174px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Card */

position: absolute;
width: 180px;
height: 37px;
left: 1010px;
top: 429px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Card */

position: absolute;
width: 180px;
height: 37px;
left: 1200px;
top: 480px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Card */

position: absolute;
width: 180px;
height: 37px;
left: 820px;
top: 378px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Card */

position: absolute;
width: 180px;
height: 37px;
left: 251px;
top: 225px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Card */

position: absolute;
width: 180px;
height: 37px;
left: 440px;
top: 276px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Card */

position: absolute;
width: 180px;
height: 37px;
left: 1200px;
top: 429px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Card */

position: absolute;
width: 180px;
height: 37px;
left: 1200px;
top: 531px;

border: 5px solid #AFAFAF;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Card */

position: absolute;
width: 180px;
height: 37px;
left: 1200px;
top: 791px;

border: 5px solid #AFAFAF;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Card */

position: absolute;
width: 180px;
height: 37px;
left: 1200px;
top: 582px;

border: 5px solid #AFAFAF;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Card */

position: absolute;
width: 180px;
height: 37px;
left: 1200px;
top: 633px;

border: 5px solid #AFAFAF;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Card */

position: absolute;
width: 180px;
height: 37px;
left: 1200px;
top: 684px;

border: 5px solid #AFAFAF;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Card */

position: absolute;
width: 180px;
height: 37px;
left: 1200px;
top: 735px;

border: 5px solid #AFAFAF;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
